<?php
# {{ ansible_managed }}
# vim: ft=php

$f_live_info = '/tmp/airtime-live-info';
$f_week_info = '/tmp/airtime-week-info';

$partnerId  = htmlspecialchars($_POST["partnerId"]);
$partnerKey = htmlspecialchars($_POST["partnerKey"]);
$id         = htmlspecialchars($_POST["id"]);

# Verify it's the client we expect
if($partnerId != "{{ scrobbler_partner_id }}"
&& $partnerKey != "{{ scrobbler_partner_key }}") {
    exit;
}

# Retrieve info
#$station    = htmlspecialchars($_POST["station"]);
# NOTE: "show" value is not empty between two shows, so the fallback "default"
# playlist tracks appears to belong to previous show :-(
#$show       = htmlspecialchars($_POST["show"]);
$artist     = htmlspecialchars($_POST["artist"]);
$album      = htmlspecialchars($_POST["album"]);
$title      = htmlspecialchars($_POST["title"]);
$duration   = htmlspecialchars($_POST["duration"]);
# Commercials (jingles, etc.) are filtered out in "ls_fmr_scrobbler.liq".
#$commercial = htmlspecialchars($_POST["commercial"]);
$live_info  = $_POST["live_info"];
$week_info  = $_POST["week_info"];

$start = date("Y-m-d H:i:s");
$end   = date("Y-m-d H:i:s", time() + $duration);

######################################################################
# Preparation
######################################################################

if ($artist == "" || $title == "") {
    $name = $artist . $title;
} else {
    $name = $artist . " - " . $title;
}

######################################################################
# week-info is not modified
######################################################################

$week_info = "***($week_info)";
file_put_contents($f_week_info, $week_info);

######################################################################
# live-info
######################################################################

# Add a "currentShow" to the JSON only if we do have info!
if ($name != "") {
    $json_li = json_decode($live_info, true);

    # Don't overwrite the "currentShow" if it's already present.
    if (count($json_li["currentShow"]) == 0) {
        $currentShow = array(
            "currentShow" => array(array(
                "name"              => "$name",
                "starts"            => "$start",
                "start_timestamp"   => "$start",
                "end_timestamp"     => "$end",
                "ends"              => "$end",
                "url"               => "",
            ))
        );
        $live_info = json_encode(array_merge($json_li, $currentShow));
    }
}

$live_info = "***($live_info)";
file_put_contents($f_live_info, $live_info);

