#!/bin/bash
# {{ ansible_managed }}

# TODO: Create a logrotate.d entry for $LOG

NAS_MOUNT="{{ nas_music_mount }}"
SRC="${NAS_MOUNT}/"  # The trailing "/" is important!
DST="{{ library_path }}"

LOG="/var/tmp/sync_nas.log"
LOCK="/var/lock/sync_nas.pid"
PID="$$"

######################################################################

echo "[$PID] START  $(date)" >> "$LOG"

# Verify it's not already running
if [ -s "$LOCK" ]; then
  if ps -p "$(cat "$LOCK")" >/dev/null 2>&1; then
      # It's already running! Quit now.
      echo "[$PID] END   Already running by $(cat "$LOCK")" >> "$LOG"
      exit
  fi
fi

######################################################################

# Keep track of PID to not run it twice
echo $PID > "$LOCK"

mount "$NAS_MOUNT" 2>/dev/null
if grep -q "$NAS_MOUNT" /proc/mounts; then
    rsync -a --del --exclude=lost+found --log-file="$LOG" \
        --chmod="ug=rwX,o=rX" "$SRC" "$DST"
    umount "$NAS_MOUNT" 2>/dev/null
fi

# Ended normally, remove LOCK file
rm "$LOCK"

echo -e "[$PID] END    $(date)\n" >> "$LOG"

